* {
    width: auto;
    font-family:'PT Sans', sans-serif;
}
body {
    position: relative;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png")
}
header {
    background-color: #F0FFFF;
    position: relative;
    left: 0px;
    height: 48px;
    margin-bottom: 40px;
    border-style: solid none;
    border-width: 1px;
    border-color: #C0C0C0; 
}
#name, .links, section {
    width: 960px;
}
#name {
    position: absolute;
    background-color: #20B2AA;
    color: #FFFAFA;
    font-family: 'Vidaloka', serif;
    font-size: 24px;
    height: 38px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    left: 240px;
    border-style: solid none;
    border-width: 1px;
    border-color: #C0C0C0; 
}
.links {
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 290px;
    font-size: 20px;
    color:	#708090;
}
a {
    text-decoration: none;
    color: #20B2AA;
}
section {
    background-color: #F0FFFF;
    border-style: solid;
    border-width: .8px;
    border-color: #C0C0C0; 
    position: absolute;
    left: 220px;
    padding: 20px;
    text-align: justify;
    line-height: 160%;
    margin: auto;
}
h1 {
    border-style: none none solid;
    border-width: 3px;
    border-color: #C0C0C0;
    color: #20B2AA;
    padding: 0px 0px 15px 10px;
    margin-top: 0;
    font-family: 'Vidaloka', serif;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
}
#contact, #email {
    resize: none;
}
textarea {
    width: 95%;
    height: 25px;
    font-size: 14px;
    padding:5px 5px 0px;
}
#message {
    height: 100px;
}
button {
    background-color: #20B2AA;
    color: #FFFAFA;
    height: 25px;
    width: 75px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #4e5965;
    border-style: solid none none;
    border-color: #20B2AA;
    border-width: 5px;
    height: 20px;
    width: 100%;
    margin: 40px 0px 0px;
    font-size: 10px;
    color: #FFFAFA;
    padding-top: 25px;
}