* {
    font-family:'PT Sans', sans-serif;
   }
   html, body {
       position: relative;
       background-color: #fafaf9;
       height: 100%;
       margin: 0;
   }
   .wrapper {
       min-height: 100%;
       margin-bottom: -50px;
   }
   .clearfix::after {
       clear: both;
       content: "";
       display: block;
   }
   header {
       background-color: #e6ffff;
       height: 50px;
   }
   #name {
       background-color: #00cccc;
       height: 50px;
       width: 10%;
       float: left;
       margin-left:12.5%;
       color: #FFFAFA;
       font-family: 'Vidaloka', serif;
       font-size: 24px;
       line-height: 2;
       padding: 0 10px;
   }
   .links {
       float: right;
       margin-right: 12.5%;
       line-height: 3;
   }
   a {
       text-decoration: none;
       color: #20B2AA;
   }
   section {
       text-align: justify;
       background-color: #F0FFFF;
       width: 65%;
       margin: 5% auto;
       padding: 1%;
       border: solid 1px #696969;
   }
   h1 {
       font-family: 'Vidaloka', serif;
       padding: 0 0 2% 2%;
       color: #696969;
       border-bottom: solid 2px #696969;
       width: 95%;
   }
   img {
       float: left;
       margin: 0 2% 2%;
   }
   p {
       margin: 0 1%;
   }
   .push {
     height: 10px;
   }
   footer {
       background-color: #696969;
       height: 50px;
       border-top: solid 2px #00cccc;
       text-align: center;
       font-size: 12px;
       color: #F0FFFF;
       line-height: 3.5;
   }